<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @dog.sex %>
</p>

<p>
  <strong>Piccy:</strong>
  <%= image_tag(@dog.avatar ) %>
</p>



<%= link_to 'Edit', edit_dog_path(@dog), :class => "btn btn-small btn-primary"%> |
<%= link_to 'Back', dogs_path, :class => "btn btn-small btn-primary" %>