<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :number %>
    <%= f.input :start_date,  :as => :date_picker %>
    <%= f.input :end_date, :as => :date_picker %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-success" %>
  </div>
<% end %>

