<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @reservation.mobile %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @reservation.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @reservation.end_date %>
</p>

<p>
  <strong>Dogs:</strong>
  <% @reservation.dogs.each do |dog|%>
   <%= dog.name%>,
  <%end %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation), :class => "btn btn-small btn-primary"%> |
<%= link_to 'Back', reservations_path, :class => "btn btn-small btn-primary" %>